{% extends "db_admin/layout.html" %}

{% block content %}
    <div class="stats">
    <h1>Магазин купонов</h>
        <br>
    <h2>Игрок: {{ user }}</h2>
    <h2>Доступные очки: {{ scores }}</h2>
    </div>
    <table class="stats">
        <thead>
            <tr>
                <th>Категория</th>
                <th>Описание купона</th>
                <!--Настроить переходы ASC / DESC-->
                <th><a href="">Размер скидки</a></th>
                <th><a href="">Стоимость купона</a></th>
            </tr>
        </thead>
        <tbody>
            {% for st in prises %}
                <tr>
                    {% for cell in st %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}