{% extends "db_admin/layout.html" %}

{% block content %}
    <div class="stats">
    <h1>Магазин купонов</h>
        <br>
    <h2>Игрок: {{ user }}</h2>
    <h2>Доступные очки: {{ scores }}</h2>
    </div>

    <ul class="prises-list">
        {% for prise in prises %}
            <li class="prises-item">
                <img src="static/db_admin/img/{{ prise.categorie.categorie_id }}.jpg" alt="{{ prise.categorie.categorie_name }}">
                <h2>{{prise.categorie.categorie_name}}</h2>
                <p>{{prise.prise_description}}</p>
                <p>Размер скидки {{prise.discount_value}}</p>
                <p>Стоимость в баллах {{prise.price_in_scores}}</p>
                <a href="#" class="buy-now-button">Buy Now</a><br>
                <a class="buy-now-button" href="{% url 'cart:add_to_cart' prise.prise_id %}">Add to Cart</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}