{% extends "db_admin\game_base.html" %}

{% block game_content %}
    <form action="{% url 'game_guess' %}" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <!--
        <span class="input-group-text">@ник в Телеграме</span>
        {{ form.word }}
        </div>
        -->
        <button type="submit" class="btn btn-primary">Угадать</button>
    </form>
    {% if err %}
    <div class="error">
        <h4>{{ err }}</h4>
    </div>
    {%  endif %}
    <br>
    <h2>БАРАБАН</h2>
    <h4>На барабане выпало: {{ score }} очков </h4>
{% endblock %}