{% extends "db_admin\layout.html" %}


{% block content %}
<div class="rules">
    <h1>    Правила игры</h1>
    <h2>1 Необходимо зарегистрироваться или войти если уже зарегистрированы</h2>
    <h3>    1.1 Новая регистрация только с привзякой по номеру карты лояльности</h3>
    <h2>2 После запуска новой игры будет предложено слово для отгдадывания</h2>
    <h2>3 Перед тем как ввести букву или слово необходимо прокрутить барабан, на котором выпадут очки или сектор приз</h2>
    <h3>3.1 Если игрок не желает забратьпризи закончить игру он должен продолжитьвращатьбарабан</h2>
    <h2>4 Ввести букву или слово целиком</h2>
    <h2>    4.1 Количество попыток влияет на количество очков за игру</h2>
    <h2>5 В любой момент можно посмотреть правила, статистику победителей, магазин купонов, набор своих купонов</h2>
</div>
{% endblock content %}